LITHOPHANE_IMAGE=ghcr.io/klimuszko/lito:latest
LITHOPHANE_CONTAINER_NAME=lithophane
LITHOPHANE_HOSTNAME=lithophane

# Adres kontenera jest ustawiony w docker-compose.yml: 10.10.50.19
DOCKER_NETWORK=VLAN50_Docker
LITHOPHANE_DNS=10.10.50.1
LITHOPHANE_DOMAIN=litofania.example.pl
TZ=Europe/Warsaw

TRAEFIK_ENTRYPOINT=websecure
TRAEFIK_CERTRESOLVER=letsencrypt

LITHOPHANE_MEM_LIMIT=1g
LITHOPHANE_MEM_RESERVATION=256m
